.container-buy-sell {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-head-buy-sell th {
    border: 1px solid var(--first-color);
    border-top: none;
    border-left: none;
    padding: 5px 10px;
}

.container-account-balance {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--first-color-alt);
    color: var(--body-color);
    width: 100vw;
    height: 40px;
}

.container-head-buy-sell {
    text-align: center;
}

.container-table, .btns-buy-sell, .container-total-value  {
    margin-bottom: var(--mb-1-5);
}