@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --header-height: 3rem;

    --color-define: 35;

    --first-color: hsl(var(--color-define), 100%, 57%);
    --first-color-second: hsl(var(--color-define), 69%, 61%);
    --first-color-alt: hsl(var(--color-define), 87%, 10%);
    --first-color-lighter: hsl(var(--color-define), 92%, 85%);
    --title-color: hsl(var(--color-define), 8%, 15%);
    --text-color: hsl(var(--color-define), 8%, 45%);
    --text-color-light: hsl(var(--color-define), 8%, 65%);
    --input-color: hsl(var(--color-define), 70%, 96%);
    --body-color: hsl(var(--color-define), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--color-define), 12%, 90%);
    --scroll-thumb-color: hsl(var(--color-define), 12%, 80%);

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

.button {
    display: inline-block;
    background-color: gray;
    color: #fff;
    border-radius: .5rem;
}

.button:hover {
    background-color: rgb(192, 161, 161);
}

.button---flex {
    display: inline-flex;
    align-items: center;
}

.card_data {
    text-align: center;
}

.card_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.card_description {
    margin-bottom: var(--mb-0-75);
}


