.button {
    display: inline-block;
    background-color: gray;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    /* font-weight: 500; */
}

.button:hover {
    background-color: rgb(192, 161, 161);
}

.button---flex {
    display: inline-flex;
    align-items: center;
}


