.header {
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 2rem; */
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    background-color: var(--body-color);
    border-bottom: 1px solid white;
    z-index: 9999999;
}

.header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > div > span {
    font-size: var(--h3-font-size);
} 

.filter-svg {
    filter: var(--svg-filter);
}