.header {
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 2rem; */
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    background-color: var(--first-color-alt);
}

.header > div {
    display: flex;
}

.header span {
    margin-right: 10px;
}

.filter-svg {
    filter: var(--svg-filter);
}