.big-picture {
    width: 200px;
    height: 200px;
    color: var(--first-color);
}

.main-title {
    font-size: var(--bigger-font-size);
}

.details-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.section-btns {
    
}

.button-general {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor:pointer;
    /* color: var(--first-color-second);
     */
    background-color: var(--first-color-alt);
    color: var(--body-color);
    padding: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button---flex {
    display: inline-flex;
    align-items: center;
}