.big-picture {
    width: 200px;
    height: 200px;
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.main-title {
    font-size: var(--bigger-font-size);
    font-family: 'Righteous', 'Kalam';
    margin-bottom: var(--mb-2);
    background: -webkit-linear-gradient(50deg, var(--first-color) 20%,rgb(199, 191, 191));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.section-btns {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.button-general {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor:pointer;
    background-color: var(--body-color);
    color: var(--first-color);
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--first-color);
    margin-bottom: var(--mb-0-5);
}

.button-general:hover {
    background-color: white;
    color: var(--first-color-alt);
}

.button---flex {
    display: inline-flex;
    align-items: center;
}

/* Page not found */
.container-not-found {
    margin-bottom: var(--mb-2);
    text-align: center;
}