@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        top: 0;
        right: 0;
        /* width: 100%; */
        background-color:var(--body-color-alt);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .4s;
        z-index: 9999;
    }
}

.nav {
    max-width: 968px;
    height: var(--header-heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.nav_btns {
    display: flex;
    align-items: center;
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-align: center;
}

.nav_item:hover {
    color: var(--first-color);
}

.nav_btns  {
    position: absolute;
    left: 3rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
    transition: .5s;
}

.nav_logo, .nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover,
.nav_toggle:hover {
    color: var(--first-color);
}

.nav_toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav_close  {
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav_close:hover {
    color: var(--first-color-alt);
}
