@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color:var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem  0 0;
        transition: .3s;
    }
}