.container-radio-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-radio-button label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-add-value {
    margin-bottom: var(--mb-1-5);
}