.container-withdrawal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area-buttons-withdrD {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin-bottom: var(--mb-1-5);
}

.transaction-active {
    background-color: var(--first-color-alt);
    color: var(--body-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor:pointer;
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--first-color);
    margin-bottom: var(--mb-0-5);
}