@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  --color-define: 35;

  --first-color: hsl(var(--color-define), 100%, 57%);
  --first-color-alt: hsl(var(--color-define), 57%, 53%);
  --first-color-second: hsl(var(--color-define), 30%, 8%);
  --title-color: hsl(var(--color-define), 8%, 95%);
  --text-color: hsl(var(--color-define), 8%, 75%);
  --body-color: hsl(var(--color-define), 28%, 12%);

  --body-color-alt: hsl(var(--color-define), 13%, 20%);
  --container-color: hsl(var(--color-define), 29%, 16%);
  --svg-filter: invert(48%) sepia(9%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(1%);

  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
